main {
  padding: 16px;
  text-align: center;
}

.image {
  height: 200px;
  width: 50%;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  width: 200px;
  white-space: normal;
}

.question {
  margin-top: 10px;
}

.input {
  width: 100%;
}

button {
  margin-top: 10px;
  width: 100%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &--left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &--margin-right {
    margin-right: 8px;
  }
}

